* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body,
html {
    width: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url(/assets/kara.svg);
    background-size: 218vh;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    color: inherit;

    width: 0;

}

#navbar {
    width: 10%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: 0.3s ease;

}

.back_arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    width: 2vw;
    height: 4vh;
    margin-left: 15px;
}



.logo-cyberlife {
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: -1px;
    font-weight: 500;
}

.section_choices {
    width: 100%;
    height: 100vh;
    gap: 5rem;
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.div_choice_quiz {
    display: flex;
    width: 50vw;
}

.texto_choice {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.btns_personagens {
    width: 40vw;
    gap: 20px;
    display: flex;
    flex-direction: column;

}

.btns_personagens button {
    width: 20vw;
    height: 10vh;
 
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
 
    cursor: pointer;
    transition: 0.2s;
}

.btns_personagens button:hover {
    transform: scale(1.05);
    border: 2px solid rgb(10, 10, 10);
    background-color: black;
    color: white;
}

.btns_personagens button:active {
    transform: scale(1);
}